<body>
    <section>
        <h1>Contact Us</h1>
        <p>Get in touch with FuelFlow. We are here to assist you with any questions or support you need.</p>
        
        <h5>Our Location:</h5>
        <p>Umm Salal,street:460,Doha Qatar</p>

        <h5>Opening Hours:</h5>
        <p>SUN-FRI from 7AM to 2AM</p>

        <h5>Phone:</h5>
        <p>+974 55222322</p>

        <h5>Email:</h5>
        <p>fuelflow4ever@gmail.com</p>

        <h5>Social Media:</h5>
        <p>Follow us on instagram.com</p>

    </section>
</body>
