<body>
    <section>
        <h1>Frequently Asked Questions (FAQs)</h1>
        <p>At FuelFlow, we want to ensure your experience with us is as smooth as possible. Here are some of the most common questions we receive from our customers, along with our answers:</p>
        
        <div>
            <h5>Q: What types of fuel do you offer?</h5>
            <p>A: We offer a range of fuel options to cater to various vehicle needs, including unleaded petrol, diesel, and in some locations, LPG. We also provide premium fuel options for enhanced vehicle performance.</p>
        </div>

        <div>
            <h5>Q: Are your prices competitive?</h5>
            <p>A: Yes, we strive to offer competitive pricing while maintaining the highest quality of fuel. Prices are regularly updated to reflect market conditions.</p>
        </div>

        <div>
            <h5>Q: Do you have facilities for electric vehicles?</h5>
            <p> No, But we are looking forward to having one.</p>
        </div>
    </section>
</body>
