<body>
    <section>
        <h1>Privacy Policy</h1>
        <p>Effective date: October 19 2023</p>
        <p>At FuelFlow, your privacy is important to us. This Privacy Policy explains how we collect, use, share, and protect your personal information.</p>

        <h5>1. Information Collection</h5>
        <p>We collect information that you provide directly to us, such as when you visit our station, use our services, or interact with us. This may include your name, email address, phone number, and payment information.</p>

        <h5>2. Use of Information</h5>
        <p>We use your information to provide, maintain, and improve our services, process transactions, respond to inquiries, and communicate with you about our services, including any updates and promotions.</p>

        <h5>3. Sharing of Information</h5>
        <p>We do not share your personal information with third parties except as necessary to provide our services or as required by law.</p>

        <h5>4. Data Security</h5>
        <p>We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure.</p>

        <h5>5. Changes to This Policy</h5>
        <p>We may update this privacy policy from time to time. We will notify you of any changes by posting the new policy on our website. We encourage you to review our privacy policy whenever you use our services to stay informed about how we are protecting the information we collect.</p>


    </section>
</body>